/*
Color Palette
Light shades: #FBFAFA;
Light accent: #CAA5BF;
Main brand: #CC9DA4;
Dark accent: #9E83A4;
Dark shades: #6A3D5A;
Gray: #999999;
*/

:root{
  --calcite-color-brand: #cc9da4 !important;
  --calcite-color-brand-hover: #6a3d59!important;
  --calcite-color-background: #FBFAFA !important;
  --calcite-color-status-info: #6a3d59 !important;
  --calcite-color-status-success: #72aa69 !important;
  --calcite-color-status-warning: #f09a31 !important;
  --calcite-color-status-danger: #f44336 !important;
  --calcite-corner-radius-round: 6px !important;
  --calcite-card-corner-radius: var(--calcite-corner-radius-round) !important;
  --calcite-card-shadow: var(--calcite-shadow-md) !important;
}

html{
  height: 100%;
}

body{
  background-color: #6a3d5a;
  color:#FBFAFA;
  display: flex;
  flex-flow: column;
  height: 100%;
}

h1{
  display: flex;
  justify-content: flex-start;
  letter-spacing: -1%;
  color: #FBFAFA;
}

#main{
  display: flex;
  align-items: stretch;
  flex: 1;
}

#filters{
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #FBFAFA;
  color: #999999;
  width: 25%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: var(--calcite-shadow-md);
  transition: 1s;
}

.filter{
  width: auto;
}

#distance-filter{
  width: 200px;
}

#result-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 120px);
  row-gap: .5em;
  column-gap: 1em;
}

calcite-card{
  height: 20%;
  min-width: 20%;
  --calcite-card-corner-radius: var(--calcite-corner-radius-round);
  --calcite-card-shadow: var(--calcite-shadow-md);
}

calcite-notice.hide{
  display: none;
  transition: 1s;
}

calcite-notice.show{
  display: initial;
  transition: 1s;
}