h1{
  display: flex;
  justify-content: center;
  letter-spacing: -1%;
}

#filters{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-self: center;
  background-color: navy;
}

.filter{
  width: auto;
}

#distance-filter{
  width: 200px;
}

#result-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

calcite-card{
  padding:20px;
  width: 20%;
}
