.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#card {
  border-radius: 20px;
  margin: 16px;
  height: 497px;
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 25px 25px hsla(0, 0%, 0%, 0.048);
}

img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: #1f314f;
}

p {
  font-size: 15px;
  color: #7d889e;
}
