.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  text-align: center;
}

#card {
  border-radius: 20px;
  width: fit-content;
  display: table;
  position: absolute;
  padding: 16px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 25px 25px hsla(0, 0%, 0%, 0.048);
}

img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
  display: block;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: #1f314f;
  display: table-caption;
  caption-side: bottom;
}

p {
  font-size: 15px;
  color: #7d889e;
  display: table-caption;
  caption-side: bottom;
}

.attribution {
  position: absolute;
  bottom: calc(100% - height);
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
